<main class="h-full w-full grid place-content-center relative">
    <img [src]="imgLink" class="h-full w-full object-cover absolute z-10" alt="">
    <div class="h-full w-full grid place-content-center relative z-30 ">
        <div class="flex items-center gap-4">
            <div class="text-white/80 flex absolute -left-16 z-50 flex-col justify-between p-2 h-[40vh] border border-white/10 w-[4vw] hover:w-[9vw] rounded-md items-start duration-300 bg-white/5 backdrop-blur-md">
                <button class="h-8 w-8 rounded-full duration-300 bg-white/20 border border-white/10"><i class='bx bxs-home text-xl'></i></button>
                <button class="h-8 w-8 rounded-full duration-300 hover:bg-white/20 hover:border-white/10"><i class='bx bx-search text-xl'></i></button>
                <button class="h-8 w-8 rounded-full duration-300 hover:bg-white/20  hover:border-white/10"><i class='bx bx-message-square-add text-xl'></i></button>
                <button class="h-8 w-8 rounded-full duration-300 hover:bg-white/20  hover:border-white/10 "><i class='bx bx-film text-xl'></i></button>
                <button class="h-8 w-8 rounded-full ring-2 ring-white/80 overflow-hidden"><img src="../../../assets/img/likepp.jpg" class="" alt=""></button>
            </div>
            <div class="text-white/80 h-[80vh] border border-white/10 w-[20vw] bg-white/5 backdrop-blur-md rounded-xl">
                <h1 class="">Profil</h1>
            </div>
            <div class="text-white/80 h-[80vh] border border-white/10 w-[35vw] bg-white/5 backdrop-blur-md rounded-xl">
                <h1 class="">instagram</h1>
            </div>
            <div class="text-white h-[80vh] border border-white/10 w-[20vw] bg-white/5 backdrop-blur-md rounded-xl">
                <h1 class="">Message</h1>
            </div>
        </div>
    </div>
</main>