<main  class="h-full w-full grid place-content-center relative">
    <img [src]="imgLink" class="h-full w-full object-cover absolute z-10" alt="">
    <div id="main_box" class="h-full w-full grid place-content-center relative z-30 ">
        <div class="flex items-center gap-4">
            <div class="text-white/80 flex absolute group -left-16 overflow-hidden z-50 flex-col justify-between p-2 h-[40vh] border border-white/10 w-[4vw] hover:w-[9vw] rounded-md items-start duration-300 bg-white/5 backdrop-blur-md">
                <button class="h-8 w-8 grid place-content-center relative rounded-md duration-300 bg-white/20 border border-white/10">
                    <i class='bx bxs-home text-xl'></i>
                    <span class="text-xl ml-10 absolute mt-0.5 opacity-0 group-hover:opacity-100 duration-300">Home</span>
                </button>
                <button class="h-8 w-8 grid place-content-center relative rounded-md duration-300 hover:bg-white/20 hover:border-white/10">
                    <i class='bx bx-search text-xl '></i>
                    <span class="text-xl ml-10 absolute mt-0.5 opacity-0 group-hover:opacity-100 duration-300">Search</span>
                </button>
                <button class="h-8 w-8 grid place-content-center relative rounded-md duration-300 hover:bg-white/20 hover:border-white/10">
                    <i class='bx bx-message-square-add text-xl'></i>
                    <span class="text-xl ml-10 absolute mt-0.5 opacity-0 group-hover:opacity-100 duration-300">Add</span>
                </button>
                <button class="h-8 w-8 grid place-content-center relative rounded-md duration-300 hover:bg-white/20 hover:border-white/10">
                    <i class='bx bx-film text-xl'></i>
                    <span class="text-xl ml-10 absolute mt-0.5 opacity-0 group-hover:opacity-100 duration-300">Reels</span>
                </button>
                
                <button (click)="openProfileBox()" class="h-8 w-8 rounded-full duration-300 active:scale-75 ring-2 ring-white/80 overflow-hidden"><img src="../../../assets/img/likepp.jpg" class="" alt=""></button>
            </div>
            <!-- Profil Boxe -->
            <div id="profilBox" class="text-white/80 h-[90vh] overflow-hidden border border-white/10 w-[20vw] bg-white/5 backdrop-blur-md rounded-xl">
                <div class="p-2 border-b border-white/5 flex items-center justify-between">
                    <img src="../../../assets/img/instagramlogo.png" class="w-24" alt="">
                    <button (click)="closeProfileBox()" class="h-5 w-5 active:scale-75 duration-300 rounded-full bg-white/20 "><i class='bx bx-x'></i></button>
                </div>
                <div>
                    <app-profil/>
                </div>
            </div>

            <!-- Post Boxe -->
            <div id="postBoxe" class="text-white/80 h-[90vh] overflow-hidden border border-white/10 w-[35vw] bg-white/5 backdrop-blur-md rounded-xl">
                <div class="p-2 border-b border-white/5 flex items-center justify-between">
                    <img src="../../../assets/img/instagramlogo.png" class="w-24" alt="">
                    <div class="flex items-center bg-white/20 rounded-full gap-2 px-2">
                        <i class='bx bx-search'></i>
                        <input type="search" class="bg-transparent text-white outline-none placeholder:text-white/60" placeholder="search on instagram" name="" id="">
                    </div>
                </div>
                <div id="storiesBox" class="p-2 flex items-center gap-4">
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 relative"><img src="../../../assets/img/likepp.jpg" class="w-full rounded-full h-full object-cover" alt="">
                        <div class="absolute bg-red-600 grid place-content-center text-white h-4 w-4 rounded-full -right-1 bottom-1">+</div></button>
                        <span class="mt-1 text-white">Votre story</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/like.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">Kevin vk</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/glo.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">Glodie Lk</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/mmc.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">Mukeba</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/peter.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">peter</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/yves.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">yves k</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/jessica.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">jessica</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/elsa.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">Elsa</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/leon.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">Leon</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/bry.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">bry</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/likepp.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">Elvin kg</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/likepp.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">Elvin kg</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/likepp.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">Elvin kg</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/likepp.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">Elvin kg</span>
                    </div>
                    <div class="flex flex-col items-center shrink-0 w-20 h-20">
                        <button class="h-14 w-14 shrink-0 rounded-full ring-2 ring-orange-700/80 overflow-hidden"><img src="../../../assets/img/likepp.jpg" class="w-full h-full object-cover" alt=""></button>
                        <span class="mt-1 text-white shrink-0">Elvin kg</span>
                    </div>
                   
                </div>

                <div class="postBoxes">
                    <div class="text-white flex items-center justify-between p-4 border-t border-white/5">
                        <div class="flex items-center gap-3">
                            <button class="h-6 w-6 rounded-full ring-2 ring-white/80 overflow-hidden"><img src="../../../assets/img/likepp.jpg" class="" alt=""></button>
                            <span>likeur_off</span>
                        </div>
                        <button class="text-2xl"><i class='bx bx-dots-horizontal-rounded'></i></button>
                    </div>
                    <div class="h-52 w-full relative">
                        <div class="absolute likeRed scale-0 top-[40%] left-[40%] text-6xl">
                            <i class='bx bxs-heart text-red-600'></i>
                        </div>
                        <div class="absolute likeRed scale-0 top-[20%] left-[20%] text-3xl">
                            <i class='bx bxs-heart text-red-600'></i>
                        </div>
                        <div class="absolute likeRed scale-0 top-[70%] right-[20%] text-4xl">
                            <i class='bx bxs-heart text-red-600'></i>
                        </div>
                        <img src="../../../assets/img/fond1.jpg" class="w-full h-full object-cover" alt="">
                    </div>
                    <div>
                        <div class="text-white p-4">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center gap-3">
                                    <button class="text-2xl duration-300 active:scale-75" (click)="likeClicked()">
                                        @if (isLikeClicked) {
                                            <i class='bx bxs-heart text-red-600'></i>
                                        }@else {
                                            <i class='bx bx-heart '></i>
                                        }
                                        
                                    </button>
    
                                    <button>
                                        <img width="24" height="24" src="../../../assets/img/comment.png" alt="filled-topic"/>
                                    </button>
                                    <button class="text-2xl text-white -rotate-[20deg]">
                                        <i class='bx bx-send'></i>
                                    </button>
                                </div>
                               
                                <button class="text-2xl duration-300 active:scale-75" (click)="bookmarkClicked()">
                                    @if (isBookMarkCliked) {
                                        <i class='bx bxs-bookmark'></i>
                                    }@else {
                                        <i class='bx bx-bookmark'></i>
                                    }
                                    
                                    
                                </button>
                            </div>
                            <div class="mt-1">
                                <span class="font-semibold"> {{numberOfLike }} Likes</span>
                                <div class="flex items-center gap-2">
                                    <span class="font-semibold">likeur_off</span>
                                    <p>One Day a Scientist say better 1% per day ...<span class="text-gray-300">more</span></p>
                                </div>
                                <span class="text-gray-300">View 123 comments</span>
                                <div class="flex items-center gap-2 mt-2">
                                    <button class="h-4 w-4 rounded-full ring-2 ring-white/80 overflow-hidden"><img src="../../../assets/img/likepp.jpg" class="" alt=""></button>
                                    <span class="text-gray-300">add a comment</span>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>

            <!-- Message List -->
            <div id="MessageList" class="text-white h-[90vh] border border-white/10 w-[20vw] bg-white/5 backdrop-blur-md rounded-xl">
                <div class="p-2 border-b border-white/10 flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <h1 class="">Message</h1>
                        <span class="bg-red-700 text-white rounded-full p-2 h-4 w-4 grid place-content-center">4</span>
                    </div>
                    <button class="h-7 w-7 bg-white/30 rounded-full grid place-content-center"><i class='bx bx-dots-horizontal-rounded'></i></button>
                    <button (click)="closemessageList()" class="h-5 w-5 active:scale-75 text-white duration-300 rounded-full bg-white/20 "><i class='bx bx-x'></i></button>
                </div>

                <div>
                    <app-message-list/>
                </div>
            </div>
        </div>
    </div>
    <button class="absolute h-10 z-50 text-white top-5 right-5 rounded-full w-10 p-2 bg-white/10 backdrop-blur-sm">
        el
    </button>
    <div id="viewpostBoxewrapper" class="absolute h-screen w-screen grid z-50 place-content-center">
        <div (click)="closeBox()" id="viewpostBoxe" class="bg-white/5 backdrop-blur-md h-[80vh] w-[50vw]">
            PostBox
        </div>
    </div>
    <div id="viewmessageBoxewrapper" class="absolute h-screen w-screen grid z-50 place-content-center">
        <div  id="viewmessageBoxe" class="bg-white/5 backdrop-blur-md rounded-3xl p-2 h-[95vh] w-[35vw]">
            <app-message-view/>
        </div>
    </div>
</main>