<section class="flex flex-col justify-between h-full">
    <div>
        <div>
            <div class="flex px-2 border-b border-white/5 rounded-md duration-300 justify-between  items-center">
                <div class="flex gap-2 items-center">
                    <button class="h-8 w-8 rounded-full bg-white/20 text-white/80"><i class='bx bx-chevron-left text-2xl'></i></button>
                    <div class="flex shrink-0 ">
                        <div class="h-9 w-9 shrink-0 rounded-full ring-2 relative"><img src="../../../assets/img/glo.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                    </div>
                    <div>
                        <h2 class="mt-1 text-white">glodie</h2>
                        <p class="text-gray-300 -mt-1">online</p>
                    </div>
                </div>
                <div>
                    <button  title="closemessage" (click)="closemessageBox()" class="h-7 w-7 active:scale-75 text-white duration-300 rounded-full bg-white/20 "><i class='bx bx-x text-2xl'></i></button>
                </div>
            </div>
        </div>
        <div  class="text-white p-2">
            <div class="mt-5">
                <p class="text-center">01 feb</p>
            </div>
            <div class="flex items-center gap-2 mt-2">
                <div class="flex shrink-0 ">
                    <div class="h-9 w-9 shrink-0 rounded-full relative"><img src="../../../assets/img/glo.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                </div>
                <div class="bg-white/20 backdrop-blur-md w-max rounded-tl-xl rounded-r-xl p-2">
                    <p>ekip de nuit </p>
                </div>
            </div>
            <div class="flex items-center justify-end gap-2 mt-2">
                <div class="bg-blue-600/90 backdrop-blur-md w-max rounded-tr-xl rounded-l-xl p-2">
                    <p>toujours</p>
                </div>
                <div class="flex shrink-0 ">
                    <div class="h-9 w-9 shrink-0 rounded-full relative"><img src="../../../assets/img/likepp.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                </div>
                
            </div>
            <div class="flex items-center justify-end gap-2 mt-2">
                <div class="bg-blue-600/90 backdrop-blur-md w-max rounded-tr-xl rounded-l-xl p-2">
                    <p>je monte chez toi dans quelques minutes</p>
                </div>
                <div class="flex shrink-0 ">
                    <div class="h-9 w-9 shrink-0 rounded-full relative"><img src="../../../assets/img/likepp.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                </div>
                
            </div>

            <div class="flex items-center gap-2 mt-2">
                <div class="flex shrink-0 ">
                    <div class="h-9 w-9 shrink-0 rounded-full relative"><img src="../../../assets/img/glo.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                </div>
                <div class="bg-white/20 backdrop-blur-md w-max rounded-tl-xl rounded-r-xl p-2">
                    <p> on recrute... </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white/20 text-white/80 rounded-full gap-2 px-2 w-full p-1 flex justify-between  items-center">
        <input type="text" class="bg-white/30 rounded-full w-full placeholder:text-white/70 outline-none p-2" placeholder="write a message">
        <button title="sendbutton"><i class='bx bx-send'></i></button>
    </div>
</section>