<main>
    <div class="p-2 flex items-center justify-between">
        <span class="text-xl font-semibold">Profile</span>
        <div class="flex items-center gap-1">
            <button class="h-7 w-7 bg-white/30 rounded-full grid place-content-center"><img src="../../../assets/img/send.png" class="w-4" alt=""></button>
            <button class="h-7 w-7 bg-white/30 rounded-full grid place-content-center"><i class='bx bx-dots-horizontal-rounded'></i></button>
            <button class="h-7 w-7 bg-white/30 rounded-full grid place-content-center"><i class='bx bx-arrow-from-left'></i></button>
        </div>
    </div>
    <div class="mt-1 flex justify-center">
        <div class="flex flex-col items-center shrink-0">
            <button class="h-16 w-16 shrink-0 rounded-full overflow-hidden"><img src="../../../assets/img/likepp.jpg" class="w-full h-full object-cover" alt=""></button>
            <span class="mt-2 text-white text-xl">Likeur off</span>
            <span class="mt-0.5 text-gray-300">likeur_off</span>
        </div>
    </div>
    <div class="flex items-center gap-3 justify-center mt-2" >
        <div>
            <span class="text-xl font-semibold">3</span>
            <p class="text-gray-300">post</p>
        </div>
        <div>
            <span class="text-xl font-semibold">17,2k</span>
            <p class="text-gray-300">followers</p>
        </div>
        <div>
            <span class="text-xl font-semibold">203</span>
            <p class="text-gray-300">follow</p>
        </div>
    </div>
</main>