<section class="w-full">
    <div class="p-2 flex items-center mt-2">
        <div class="flex flex-col items-center shrink-0 w-16 h-16">
            <button class="h-8 w-8 shrink-0 rounded-full ring-2 relative"><img src="../../../assets/img/likepp.jpg" class="w-full rounded-full h-full object-cover" alt="">
            <div class="absolute bg-gray-400/50 backdrop-blur-md grid place-content-center text-white h-4 w-max p-2 rounded-sm -right-3 -top-1">...</div></button>
            <span class="mt-1 text-white text-sm">You</span>
        </div>
        <div class="flex flex-col items-center shrink-0 w-16 h-16">
            <button class="h-8 w-8 shrink-0 rounded-full ring-2 relative"><img src="../../../assets/img/bry.jpg" class="w-full rounded-full h-full object-cover" alt="">
            <div class="absolute bg-gray-400/50 backdrop-blur-md grid place-content-center text-white h-4 w-max p-2 rounded-sm -right-3 -top-1">hello</div></button>
            <span class="mt-1 text-white text-sm">bry</span>
        </div>
        <div class="flex flex-col items-center shrink-0 w-16 h-16">
            <button class="h-8 w-8 shrink-0 rounded-full ring-2 relative"><img src="../../../assets/img/elsa.jpg" class="w-full rounded-full h-full object-cover" alt="">
            <div class="absolute bg-gray-400/50 backdrop-blur-md grid place-content-center text-white h-4 w-max p-2 rounded-sm -right-3 -top-1">...</div></button>
            <span class="mt-1 text-white text-sm">elsa</span>
        </div>
    </div>
    <div class="p-2">
        <div class="flex items-center bg-white/20 rounded-full gap-2 px-2">
            <i class='bx bx-search'></i>
            <input type="search" class="bg-transparent text-white outline-none placeholder:text-white/60" placeholder="search a message" name="" id="">
        </div>
    </div >  
    <div class="p-2 w-full">
        <div class="flex items-center relative justify-around border border-white/10 rounded-full p-1 gap-2">
            <button>primary</button>
            <button>secondary</button>
            <button>request</button>
            <div class="absolute bg-white/20 h-[90%] w-[5rem] left-0 rounded-full"></div>
        </div>
    </div>
    <div class="p-2">
        <div (click)="openMessageview()" class="flex hover:cursor-pointer hover:bg-white/20 px-2 border-b border-white/5 hover:p-1 rounded-md duration-300 justify-between  items-center">
            <div class="flex gap-2 items-center">
                <div class="flex shrink-0 ">
                    <div class="h-9 w-9 shrink-0 rounded-full ring-2 relative"><img src="../../../assets/img/peter.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                </div>
                <div>
                    <h2 class="mt-1">peter  ciya</h2>
                    <p class="text-gray-300 -mt-1">yo likeur</p>
                </div>
            </div>
            <div>
                <button>ca</button>
            </div>
        </div>
        <div (click)="openMessageview()" class="flex hover:cursor-pointer hover:bg-white/20 px-2 border-b border-white/5 hover:p-1 rounded-md duration-300 justify-between  items-center">
            <div class="flex gap-2 items-center">
                <div class="flex shrink-0 ">
                    <div class="h-9 w-9 shrink-0 rounded-full relative"><img src="../../../assets/img/glo.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                </div>
                <div>
                    <h2 class="mt-1">glodie</h2>
                    <p class="text-gray-300 -mt-1">ekip de nuit</p>
                </div>
            </div>
            <div>
                <button>ca</button>
            </div>
        </div>
        <div (click)="openMessageview()" class="flex hover:cursor-pointer hover:bg-white/20 px-2 border-b border-white/5 hover:p-1 rounded-md duration-300 justify-between  items-center">
            <div class="flex gap-2 items-center">
                <div class="flex shrink-0 ">
                    <div class="h-9 w-9 shrink-0 rounded-full relative"><img src="../../../assets/img/mmc.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                </div>
                <div>
                    <h2 class="mt-1">mukeba</h2>
                    <p class="text-gray-300 -mt-1">salut man</p>
                </div>
            </div>
            <div>
                <button>ca</button>
            </div>
        </div>
        <div (click)="openMessageview()" class="flex hover:cursor-pointer hover:bg-white/20 px-2 border-b border-white/5 hover:p-1 rounded-md duration-300 justify-between  items-center">
            <div class="flex gap-2 items-center">
                <div class="flex shrink-0 ">
                    <div class="h-9 w-9 shrink-0 rounded-full  relative"><img src="../../../assets/img/muska.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                </div>
                <div>
                    <h2 class="mt-1">muska</h2>
                    <p class="text-gray-300 -mt-1">yo</p>
                </div>
            </div>
            <div>
                <button>ca</button>
            </div>
        </div>
        <div (click)="openMessageview()" class="flex hover:cursor-pointer hover:bg-white/20 px-2 border-b border-white/5 hover:p-1 rounded-md duration-300 justify-between  items-center">
            <div class="flex gap-2 items-center">
                <div class="flex shrink-0 ">
                    <div class="h-9 w-9 shrink-0 rounded-full  relative"><img src="../../../assets/img/like.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                </div>
                <div>
                    <h2 class="mt-1">like</h2>
                    <p class="text-gray-300 -mt-1">boxon</p>
                </div>
            </div>
            <div>
                <button>ca</button>
            </div>
        </div>
        <div (click)="openMessageview()" class="flex hover:cursor-pointer hover:bg-white/20 px-2 border-b border-white/5 hover:p-1 rounded-md duration-300 justify-between  items-center">
            <div class="flex gap-2 items-center">
                <div class="flex shrink-0 ">
                    <div class="h-9 w-9 shrink-0 rounded-full  relative"><img src="../../../assets/img/yves.jpg" class="w-full rounded-full h-full object-cover" alt=""></div>
                </div>
                <div>
                    <h2 class="mt-1">yves k</h2>
                    <p class="text-gray-300 -mt-1">hello</p>
                </div>
            </div>
            <div>
                <button>ca</button>
            </div>
        </div>
    </div>
</section>